*{
    border: 1px solid red !important;
}
.fixed{
    position: fixed;
}
.float-right{
    float: right;
}
.top{
    top: 0;
    left: 0;
    right: 0;
    background-color: darkgrey;
    height: 40px;
}
.bottom{
    bottom: 0;
    left: 0;
    right: 0;
    background-color: darkgray;
    height: 40px;
}
header{
    background-color: aqua;
    margin-top: 45px;
}
hi{
    margin: 0px;
}