 *{
    border: 1px solid red !important;
} 
.content p{
    width: 600px;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
}
body{
    background-color: #fff;
}
.content{    
    position: relative;
    width: 600px;
    right: 300px;
    left: 300px;
}
.content img{
    width:600px;
    height: 400px;
}
.content iframe{
    width: 600px;
}
.links{
    background-color: green;
    height: 1060px;
    padding-top: 20px;
    padding: 0 38.516;
}
.fixed{
    position: fixed;
}
.relative-right{
    position: relative;
    right: 0;
}
.relative-left{
    position: relative;
    left: 0;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.side-adjust{
    left: 0;
    right: 0;
}
.height-adjust{
    left: 0;
    right: 0;
}
.clear-right{
    clear: right;
}
.clear-left{
    clear: left;
}
.top{
    top: 0;
    left: 0;
    right: 0;
}
.nav{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(204, 204, 204);
    background-color: white;
}
.nav a{
    text-decoration: none;
    color: black;
}
.nav-text{
    padding-top: 10px;
}
header{
    margin-top: 38px;
}
.cover{
    position: relative;
    top: 25px;
    bottom: 25px;
    padding-bottom: 40px;
}

h1{
    margin: 0 342px;
    padding-top: 25px;
    width: 600px;
    height: 96px;
    color: #121212;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 span{
    display: inline-block;
}
h3{
    font-size: 1.25rem;
}
.subtext{
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: #666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}
.date{
    display: flex;
    justify-content: space-between;
}
.date img{
    width: auto;
    height: auto;
}
.credit{
    color: #888;
    font-family: inherit;
    font-size: 0.8125rem;
}
.cover img{
    height: 531px;
    width: 945px;
}
.cover-position{
    position: relative;
    left: 157.5px;
}
.inflation img{
    position: relative;
    width: 600px;
    height: 648px;
    left: 0px;
    right: 0px;
}
.inflation h4{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.inflation hr{
    width: 60px;
    float: left;
    margin-top: 24px;
}
.inflation p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    float: left;
    margin-bottom: 40px;
}
.grid{
    position: relative;
    width: 600px;
}
.text-block{
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;    
}

.text-block p{
    float: left;
    font-size: 12.5px;
    line-height: 17px;
    font-weight: 300;
    color: black;
    width: 150px;
}
.text-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.text-footer button{
    background-color: rgb(98, 136, 165);
    border-color: rgb(50, 104, 145);
    border: 1px solid;
    color: white;
    width: 330px;
    height: 35px;
    padding: 5px 0;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.text-footer img{
    width: auto;
    height: auto;
}
.row2{
    padding-top: 100px;
}
.subinfo li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    width: 198px;
    height: 24px;
    color: #333;
    list-style-type: none;
}
.more-in-space{
    position: relative;
}
.thumbox{
    width: 852px;
    height: 637.5px;
    position: absolute;
    background-color: #888;
}
.thumb{
    width: 272px;
    height: 271px;
    float: left;
}
.thumbox img{
   width: 272.625px;
   height: 181.750;
}